.login{
    width: 140%;
    max-width:  500px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 14px 28px rgba(216, 180, 180, 0.1), 0 10px 10px rgba(0, 0, 0, 0.10);
}

.login input{
    font-size: 15px;
    color: #696969;
    max-width: 100%;
    min-width: 100%;
    padding: 8px 10px;
    margin: 5px 0;
    margin-bottom: 15px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login button {
    justify-content: space-between;
    width: 150px;
    font-size: 20px;
    background-color: #ec2300;
    color: white;
    padding: 10px 10px;
    padding-top: 10px;
    margin: 8px 10px;
    margin-top: 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
