.formPost{
    width:  70%;
    height: 40vh;
    background-color: white;
    border-radius: 10px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: 10px, 10px, 10px, 10px rgb(31, 31, 31);
    padding: 5px;
}

.formPost input{
    
    width: 95%;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.formPost textarea{
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 40%;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 8px;
    background: #d6d1d1;
}


.formPost button{
   cursor: pointer;
   width: 10%;
   height: 15%;
   float: right;
   background-color: #ec2300;
   color: white;
   margin-right: 10% ! important;
   border-radius: 8px;
   font: 700  Roboto, sans-serif;
}



.formPost button .icon{
    font-size: 140%;
    text-align: center;

}

@media (max-width: 575.98px) {

    .formPost button{
       width: 25% !important;
       margin-right: 2% !important;
    }

    .formPost butto .icon{
        font-size: 100%;
    }
 }


