.headerOnDiary {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Caso precise, quebra linha */
    background-color: #ec2300;
    margin-top: -20px;
    margin: 0 auto;
    color: white;
    padding: 5px;
}

.headerOnDiary nav {
    display: flex;
}

.headerOnDiary nav .icon-user, 
.headerOnDiary nav h3,
.headerOnDiary nav button {
    margin: auto;
    margin-left: 10px;
    font-size: 25px;
}

.headerOnDiary nav button {
    background-color: white;
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
}

.headerOnDiary nav button .icon-button {
    color: #ec2300;
    margin: 0 auto;
    margin-top: 5px;
}

@media (max-width: 580px) {

 }